{{>pageHead}}

<div class="container-xxl px-0 px-xxl-3">
  <main class="dashboard-layout">
    <div class="row">
      <div class="sidebar-column col-4 col-sm-3 col-md-2 col-lg-3 pe-0 d-lg-block">
        {{!-- dashboard sidebar --}}
        {{>en/dashboard.sidebar}}
        {{!-- dashboard sidebar --}}
      </div>
      <div class="header-column col-8 col-sm-9 col-md-10 col-lg-9 px-0 position-relative">
        {{!-- dashboard header --}}
        {{>en/dashboard.header}}
        {{!-- dashboard header --}}

        {{!-- dashboard users overview content --}}
        <section class="dashboard-content users-overview px-3">
          <h2 class="overview-heading mb-4 p-0 fs-4 text-capitalize">
            dashboard users
          </h2>
          <div class="row g-0 justify-content-md-between">
            <div class="users-info-box col-md-6 col-xl-3 mb-4 py-2 rounded">
              <div class="row align-items-center g-0">
                <div class="col">
                  <h4 class="mb-1 p-0 text-uppercase">admins</h4>
                  <p class="m-0 p-0 fw-bold fs-4">{{counter.admins}}</p>
                </div>
                <div class="col-auto">
                  <i class="fa-solid fa-user-tie fa-2x"></i>
                </div>
              </div>
            </div>
            <div class="users-info-box col-md-6 col-xl-3 mb-4 py-2 rounded">
              <div class="row align-items-center g-0">
                <div class="col">
                  <h4 class="mb-1 p-0 text-uppercase">customers</h4>
                  <p class="m-0 p-0 fw-bold fs-4">{{counter.customers}}</p>
                </div>
                <div class="col-auto">
                  <i class="fa-solid fa-user fa-2x"></i>
                </div>
              </div>
            </div>
            <div class="users-info-box col-md-6 col-xl-3 mb-4 py-2 rounded">
              <div class="row align-items-center g-0">
                <div class="col">
                  <h4 class="mb-1 p-0 text-uppercase">visitors</h4>
                  <p class="m-0 p-0 fw-bold fs-4">{{counter.visitors}}</p>
                </div>
                <div class="col-auto">
                  <i class="fa-solid fa-clock fa-2x"></i>
                </div>
              </div>
            </div>
            <div class="users-info-box col-md-6 col-xl-3 mb-4 py-2 rounded">
              <div class="row align-items-center g-0">
                <div class="col">
                  <h4 class="mb-1 p-0 text-uppercase">pagesViews</h4>
                  <p class="m-0 p-0 fw-bold fs-4">{{counter.pageViews}}</p>
                </div>
                <div class="col-auto">
                  <i class="fa-solid fa-binoculars fa-2x"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="row g-0 justify-content-between">
            <div class="chart col-lg-8 rounded my-4 pageviews-chart">
              <div class="chart-heading">
                <h2 class="m-0 px-3 fs-4 text-capitalize text-nowrap">
                  page views
                </h2>
              </div>
              <div class="p-3">
                <canvas id="page-views"></canvas>
              </div>
            </div>
            <div class="chart col-lg-4 rounded my-4">
              <div class="chart-heading">
                <h2 class="m-0 px-3 fs-4 text-capitalize text-nowrap">
                  most users
                </h2>
              </div>
              <div class="p-3">
                <canvas id="most-users"></canvas>
              </div>
            </div>
          </div>
          <div class="chart col rounded my-4">
            <div class="chart-heading">
              <h2 class="m-0 px-3 fs-4 text-capitalize text-nowrap">
                users increasement
              </h2>
            </div>
            <div class="p-3">
              <canvas id="all-users"></canvas>
            </div>
          </div>


          {{!-- table new users --}}

          <div class="table rounded mt-5 mb-4">
            <h2 class="table-heading m-0 px-3 fs-4 text-capitalize">
              new users
            </h2>
            <div class="table-responsive p-3">
              <div class="table-header row">
                <div class="col-6 text-start bg-white ps-0">
                  <label class="newUser-select-label" for="rows-number">Show</label>
                  <select id="newUser-table-select" class="form-select form-select-sm w-auto d-inline-block"
                    name="show">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                  </select>
                  <label class="newUser-select-label" for="rows-number">entries</label>
                </div>
                <div class="col-6 text-end pe-0">
                  <label for="newUser-search-newUser" class="search-label">Search: </label>
                  <input id="newUser-search-newUser" type="search"
                    class="form-control form-control-sm w-50 d-inline-block" placeholder="" aria-controls="dataTable"
                    name="searchNewUser">
                </div>
              </div>
              <table id="newUser-table" class="table table-bordered table-hover my-3">
                <thead>
                  <tr>
                    <th class="text-nowrap" scope="col">Full name</th>
                    <th class="text-nowrap" scope="col">Phone number</th>
                    <th class="text-nowrap" scope="col">Email address</th>
                    <th class="text-nowrap" scope="col">User type</th>
                    <th class="text-nowrap" scope="col">Status</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
              <div class="table-footer row">
                <div class="col-6 text-start bg-white ps-0">
                  <p id="newUser-table-info" class="table-info m-0 p-0"></p>
                </div>
                <div class="col-6 text-end pe-0">
                  <ul class="pagination pagination-sm m-0 p-0 justify-content-end">
                    <li class="page-item">
                      <a id="newUser-table-previous" class="page-link" role="button">Previous</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" role="button">***</a>
                    </li>
                    <li class="page-item">
                      <a id="newUser-table-next" class="page-link" role="button">Next</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

        </section>
        {{!-- dashboard users overview content --}}

        {{!-- dashboard foot --}}
        {{>en/dashboard.footer}}
        {{!-- dashboard footer --}}
      </div>
    </div>
  </main>
</div>


{{!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.2.1/chart.min.js"
  integrity="sha512-v3ygConQmvH0QehvQa6gSvTE2VdBZ6wkLOlmK7Mcy2mZ0ZF9saNbbk19QeaoTHdWIEiTlWmrwAL4hS8ElnGFbA=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script> --}}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const barChart = document.getElementById('page-views');
  const doughnutChart = document.getElementById('most-users');
  const lineChart = document.getElementById('all-users');

  const months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];

  //get all data for each month from 0 to 11
  let viewsData = [];
  let adminsData = [];
  let customersData = [];
  let visitorsData = [];
  const fetchData = {{ counter.months }};

  months.forEach(month => {
    viewsData.push(fetchData[month].pageViews);
    adminsData.push(fetchData[month].admins);
    customersData.push(fetchData[month].customers);
    visitorsData.push(fetchData[month].visitors);
  });

  new Chart(barChart, {
    type: 'bar',
    data: {
      labels: months,
      datasets: [{
        label: 'page views',
        data: viewsData,
        borderWidth: 1,
        borderColor: '#f6c23e',
        backgroundColor: '#f6c23ead',
        maxBarThickness: 20,
      }]
    },
    options: {
      maintainAspectRatio: false,
      responsive: true
    }
  });


  //working with doughnut chart
  new Chart(doughnutChart, {
    type: 'doughnut',
    data: {
      labels: ['admins', 'customers', 'visitors'],
      datasets: [{
        label: 'all users',
        data: [
          {{ counter.admins }},
      {{ counter.customers }}, 
          {{ counter.visitors }}
        ],
    borderWidth: 2,
    borderColor: '#fff',
    backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc'],
    hoverOffset: 4
    }],
    },
    options: {
    maintainAspectRatio: false,
    responsive: true
  }
  });


  //working with line chart
  new Chart(lineChart, {
    type: 'line',
    data: {
      labels: months,
      datasets: [
        {
          label: 'admins',
          data: adminsData,
          borderColor: '#4e73df',
          fill: false,
          tension: 0.1,
          borderWidth: 2
        },
        {
          label: 'customers',
          data: customersData,
          borderColor: '#1cc88a',
          fill: false,
          tension: 0.1,
          borderWidth: 2
        },
        {
          label: 'visitors',
          data: visitorsData,
          borderColor: '#36b9cc',
          fill: false,
          tension: 0.1,
          borderWidth: 2
        }
      ],
    },
    options: {
      maintainAspectRatio: false,
      responsive: true
    }
  });

</script>
{{>pageFoot}}